/* Link */
a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.btn-link, .btn-link:focus, .btn-link:active:focus, .btn-link.active:focus, .btn-link.focus, .btn-link:active.focus, .btn-link.active.focus{
    color: #3f8507;
    border: none;
    text-decoration: none;
    outline: none;
}

a:hover, .btn-link:hover {
    color: #1f4204;
    text-decoration: underline;
    outline: none;
}

#logout:hover {
    color: #d9230f;
}

/* Play Icon */
img.play-icon {
    height: 12rem;
}

/* Progress bar */
.progress {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#progressvalue {
    margin-top: 2rem;
    color: #888;
}

/* Icons */
.glyphicon-pencil:hover, .icon:active {
    color: #3f8507;
}

.glyphicon-fire:hover, .icon:active {
    color: #a91b0c;
}

.icon, .icon:focus {
    color: #4f5151;
}

/* Space */
.space-top {
    margin-top: 4rem;
}

.space-bottom {
    margin-bottom: 2rem;
}

body {
    margin-bottom: 4rem;
}


/* Exercise */

.exercise, .unit {
    .edit {
        margin-top: 10px;
        float: right;
        overflow: auto;

        input {
            width: 50px;
            margin-right: 20px;
        }

        .glyphicon {
            font-size: 2rem;
        }
    }

    p {
        margin-bottom: 2rem;
    }

    h5 {
        font-weight: bold;
    }

    code {
        max-height: 250px;
    }

    .exercise-description {
        margin-top: 1rem;
    }

    &.completed {
        .panel-footer {
            display: none;
        }
    }
}