@import b3.vertical.fieldConstructor
@(title: String, form: Form[Exercise], units: List[Unit])

@main(title) {
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="page-header">@title</h1>

            @defining(units.map(t => t.getId+"" -> t.getName)(collection.breakOut)) { units_options =>

                @b3.form(routes.ExerciseController.saveExercise()) {
                    @b3.hidden("id", form("id").value())

                    @b3.select(form("unit"), options = units_options, '_label -> "Unit", 'value -> form("unit").value())
                    @b3.number(form("nr"), '_label -> "Reihenfolge")
                    @b3.text(form("title"), '_label -> "Name der Aufgabe", 'placeholder -> "Name der Aufgabe")
                    @b3.text(form("shortDescription"), '_label -> "Kurzbeschreibung (Übersicht)", 'placeholder -> "Kurzbeschreibung (Übersicht)")
                    @b3.textarea(form("description"), '_label -> "Aufgabenstellung", 'placeholder -> "Aufgabenstellung", 'rows -> 10)
                    @b3.textarea(form("hint"), '_label -> "Hinweis", 'placeholder -> "Hinweis", 'row -> 5)
                    @b3.textarea(form("solution"), '_label -> "Lösung", 'placeholder -> "Lösung", 'rows -> 10)

                    @b3.free() {
                        <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-ok"></span>
                            Speichern</button>
                        <a class="btn btn-default" href="@routes.ExerciseController.showExercises()"> <span class="glyphicon glyphicon-remove"></span>
                            Abbrechen</a>
                    }
                }
            }
        </div>
    </div>
}