@import views.utils.ViewUtils
@(exercise: Exercise, completed: Boolean = false)

<div class="panel panel-@if(completed){success}else{default} exercise @if(completed){completed}" data-exercise-id="@exercise.getId">
    <div class="panel-heading">
        @if(session.get("isAdmin") != null) {
            <div class="edit">
                <span class="unit">Unit @exercise.getUnit.getUnitNr</span>, <span class="order">Nr.: <input type="number" name="order_@exercise.getId" value="@exercise.getNr"></span>
                <a href="@routes.ExerciseController.editExercise(exercise.getId)" class="icon"><span class="glyphicon glyphicon-pencil" title="Editieren"></span></a>
                <a href="@routes.ExerciseController.removeExercise(exercise.getId)" class="icon"><span class="glyphicon glyphicon-fire" title="Löschen"></span></a>
            </div>
        }
        <h4 class="exercise-title">@exercise.getTitle</h4>
    </div>
    <div class="panel-body">
        <span class="exercise-short-description">@exercise.getShortDescription</span>
        <p class="exercise-description">@Html(ViewUtils.filterHtml(exercise.getDescription))</p>

        <!--Tipp-->
        <div id="exercise-@exercise.getId-tipp" class="exercise-hint collapse">
            <h5>Hinweis:</h5>
            <div>
                @Html(ViewUtils.filterHtml(exercise.getHint))
            </div>
        </div>

        <!--Lösung-->
        <div id="exercise-@exercise.getId-solution" class="exercise-solution collapse">
            <h5>Lösung:</h5>
            <div>
                @Html(ViewUtils.filterHtml(exercise.getSolution))
            </div>
        </div>

        <a href="#exercise-@exercise.getId-tipp" class="btn btn-sm btn-default" data-toggle="collapse">Hilfe!</a>
        <a href="#exercise-@exercise.getId-solution" class="btn btn-sm btn-default" data-toggle="collapse">Lösung?</a>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <a href="@routes.UserController.addCompletedExercise(exercise.getId)" class="btn btn-sm btn-success exercise-completed">Fertig!</a>
        </div>
    </div>
</div>