@import b3.vertical.fieldConstructor

@(login: Form[UserForm], register: Form[UserForm])

@main("Login"){
    <section class="row text-center">
        <div class="col-md-12">
            <img alt="Learn-play" class="play-icon" src="@routes.Assets.at("images/playicon.png")">
            <h1>Play Framework</h1>
            <p><i>Play is a high-productivity Java and Scala web application
                framework that integrates the components and APIs you need for
                modern web application development.</i>
            </p>
        </div>
    </section>

    <section class="row text-center">
        <div class="col-md-12">
            <h1 class="form-signin-heading space-bottom">Anmeldung</h1>
        </div>
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
            @b3.form(routes.SecurityController.login()) {
                @b3.text(login("username"), '_label -> "Nutzername", 'placeholder -> "Nutzername", 'required -> "required")
                @b3.password(login("password"), '_label -> "Passwort", 'placeholder -> "Passwort", 'required -> "required")

                <button class="btn btn-lg btn-success btn-block" type="submit">Anmelden</button>
                <button class="btn btn-lg btn-link btn-block" type="button" data-toggle="modal" data-target="#register">Konto erstellen</button>
            }
        </div>
    </section>


    <!-- REGISTRIERUNG -->
    <div id="register" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Konto erstellen</h4>
                </div>
                @b3.form(routes.SecurityController.register()) {
                <div class="modal-body">
                    @b3.text(register("username"), '_label -> "Nutzername", 'placeholder -> "Nutzername", 'required -> "required")
                    @b3.password(register("password"), '_label -> "Passwort", 'placeholder -> "Passwort", 'required -> "required")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Erstellen</button>
                </div>
                }
            </div>
        </div>
    </div>
}