@main("You did it!"){
    <div class="jumbotron">
        <div class="container text-center">
            <h1>That's all we got for now - you are awesome!</h1>
            <p>Now go and Play along ;)</p>
        </div>
    </div>
}