@(units: List[Unit])

@main("Units verwalten") {
    <div class="container">
        <section class="row text-center">
            <div class="col-md-offset-1 col-md-10">
                <img alt="Learn-play" class="play-icon" src="@routes.Assets.at("images/playicon.png")">
                <h1>Play Framework</h1>
                <p><i>Play is a high-productivity Java and Scala web application
                    framework that integrates the components and APIs you need for
                    modern web application development.</i>
                </p>
            </div>
        </section>
        <section>
            @if(session().get("isAdmin") != null) {
                <div class="row space-top">
                    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                        <a href="@routes.UnitController.newUnit()" class="btn btn-lg btn-default btn-block">
                            Neue Unit erstellen</a>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h2 class="page-header">Units</h2>

                    @for(unit <- units) {
                        <div class="panel panel-default unit" data-unit-id="@unit.getId">
                            <div class="panel-heading">
                                @if(session().get("isAdmin") != null) {
                                    <div class="edit">
                                        <a href="@routes.UnitController.editUnit(unit.getId)" class="icon"><span class="glyphicon glyphicon-pencil" title="Editieren"></span></a>
                                        <a href="@routes.UnitController.removeUnit(unit.getId)" class="icon"><span class="glyphicon glyphicon-fire" title="Löschen"></span></a>
                                    </div>
                                }

                                <h4 class="unit-title">@unit.getName</h4>
                            </div>
                            <div class="panel-body">
                                <p class="unit-description">
                                    @unit.getDescription
                                    <a href="@routes.UnitController.showUnit(unit.getUnitNr)" class="btn btn-sm btn-success pull-right">zu den Übungen <span class="glyphicon glyphicon-chevron-right"></span></a>
                                </p>
                            </div>
                        </div>
                    } <!-- end for -->
                </div>
            </div>
        </section>
    </div>
}