@import b3.vertical.fieldConstructor
@import java.util
@(title: String, form: Form[Unit], units: util.List[Unit])

@defining(units.map(t => t.getId+"" -> t.getName)(collection.breakOut)) { units_options =>

    @main(title) {
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="page-header">@title</h1>

                @b3.form(routes.UnitController.saveUnit()) {
                    @b3.hidden("id", form("id").value())
                    @b3.text(form("name"), '_label -> "Name der Unit", 'placeholder -> "Name der Unit")
                    @b3.textarea(form("description"), '_label -> "Beschreibung", 'placeholder -> "Beschreibung", 'rows -> "5")
                    @b3.number(form("unitNr"), '_label -> "Reihenfolge")

                    @b3.free() {
                        <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-ok"></span>
                            Speichern</button>
                        <a class="btn btn-default" href="@routes.UnitController.showUnits()"> <span class="glyphicon glyphicon-remove"></span>
                            Abbrechen</a>
                    }
                }
            </div>
        </div>
    }
}