@import java.util, b3.vertical.fieldConstructor
@(unit: Unit, progress: Double, exercises: util.List[Exercise], completedExercises: util.Set[Exercise])

@main(unit.getName) {
    <div class="container">
        <section>
            <div class="row text-center">
                <div class="col-md-offset-1 col-md-10">
                    <h2>Dein Fortschritt</h2>
                    <div id="progressvalue">@(f"$progress%1.2f")%</div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: @(progress)%"></div>
                    </div>
                </div>
            </div>
            @if(session().get("isAdmin") != null) {
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                        <a href="@routes.ExerciseController.newExercise()" class="btn btn-lg btn-default btn-block">
                            Neue Aufgabe erstellen</a>
                    </div>
                </div>
            }

            @b3.form(routes.UnitController.updateExerciseOrder(unit.getId)) {
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <h2 class="page-header">@unit.getName</h2>

                        @for(exercise <- exercises) {
                            @views.html.exercise(exercise, completedExercises.contains(exercise))
                        } <!-- end for -->

                        @if(session().get("isAdmin") != null) {
                            @b3.submit('class -> "btn btn-primary", '_class -> "text-center") {
                                <span class="glyphicon glyphicon-save"></span> Reihenfolge speichern }
                        }
                    </div>
                </div>
            }

            @if(unit != null) {
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <a href="@routes.UnitController.showUnit(unit.getUnitNr - 1)" class="btn btn-sm btn-default">
                            zurück</a>
                    </div>
                    <div class="col-md-5 text-right">
                        <a href="@routes.UnitController.showUnit(unit.getUnitNr + 1)" class="btn btn-sm btn-success">
                            weiter</a>
                    </div>
                </div>
            }
        </section>
    </div>
}
